.history {
  margin-top: 80px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

li:hover {
  background-color: #f0f0f0;
} */

.long-url {
  font-size: 16px;
  /* font-weight: bold; */
  /* margin-right: 10px; */
}

.short-url {
  font-size: 16px;
  margin-right: 10px;
}

.expiry {
  font-size: 16px;
  margin-right: 10px;
}

/* .actions {
  display: flex;
  align-items: center;
} */

/* .set-button{
  display: flex;
  flex-direction: column;
} */

.btn{
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin: 4px 3px;
}

button:hover {
  background-color: #c9d1da;
}

.actions a {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  margin-right: 5px;
}

a:hover {
  text-decoration: underline;
}


table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

tbody tr:hover {
  background-color: grey;
}

td.long-url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
