@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

body{
  background: #000;
  scrollbar-width: none;
  overflow-y: scroll;
  color: white;
}
h1, h4, p, a{
  text-decoration: none;
  color: white;
}

ul{
  list-style-type: none;
}

/* .btn{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(248, 217, 15);
  color: #222;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
} */

.btn-light{
  background: transparent;
  color: white;
}

.btn:hover{
  background: rgba(255,255,255,0.2);
  color: white;
  transition: 0.3s;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(48, 44, 44);
  outline: 1px solid slategrey;
}